.step-item{
    --gap: 5rem;

    position: relative;

    &:not(:last-child){
        margin-bottom: var(--gap)
    }

      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        padding: .5rem;
        background: var(--colorBlack);
        border: 1px solid rgb(from var(--colorDarkGray) r g b / .5);
        border-radius: 50%;
        translate: -50% -50%;
        transition: all 300ms;
    }

    &.active:after{
        background: var(--colorGold);
        border-color: var(--colorGold);
    }

    button{
        display: inline-flex;
        position: relative;
        padding: 1em;
        background: var(--colorDarkGray);
        text-align: start;
        border: none;
        border-radius: 50%;
        outline: none;
        transition: all 300ms;
        cursor: pointer;

        span{
            display: block;
            position: absolute;
            top: 50%;
            left: calc(100% + .8rem);
            color: var(--colorLightGray);
            font-size: 1.6rem;
            transform: translatey(-50%);
            transition: all 300ms;
        }

        svg{
            fill: white;
        }
    }

    &:not(:last-child) button:before{
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        height: var(--gap);
        width: 1px;
        background: rgb(from var(--colorDarkGray) r g b / .5);
        translate: -50% 0;
    }

    &.active button, button:is(:hover, :focus){
        background: var(--colorGold);

        span{
            color: white;
        }
    } 
}

